{% set submap = craft.config.environmentVariables['submap'] %}

<form-steps></form-steps>

<form class="frm-angular" enctype="multipart/form-data" name="formData" ng-submit="submit($event)" novalidate>
    <input type="hidden" ng-model="actionUrl" ng-init="actionUrl='{{ actionUrl('amForms/submissions/saveSubmissionByAngular') }}'">
    <input type="hidden" name="handle" value="angular">
    {{ getCsrfInput() }}
    {{ craft.amForms.displayAntispam() }}

    <fieldset>
        <legend>Formulier</legend>
        <div id="form-views" ui-view></div>
    </fieldset>

	{# Serverside errors #}
	<div class="errors" ng-if="serverSideErrors" ng-repeat="error in serverSideErrors">
		<li>[[ error[0] ]]</li>
	</div>

    <div class="loader" style="background: #000;" ng-if="sendForm"><img src="{{ submap }}resources/img/loader.svg"></div>
</form>
