<ul>
	<form-row record="appform" field="opmerking" label="Opmerking" type="textarea" required="true"></form-row>
</ul>

<button class="button" ng-click="checkStep(3)" type="submit" name="verzenden">Verzenden</button>
