<ul>
    <form-row record="appform" field="bestand" maxfilesize="7MB" label="Fotootje" type="file" required="true"></form-row>
</ul>

<span class="button" ng-click="checkStep(2)">Volgende stap</span>
