<ul>
    <form-row record="formData" field="voornaam" label="Voornaam" type="text" required="true"></form-row>
    <form-row record="formData" field="emailadres" label="E-mailadres" type="email" required="true"></form-row>
</ul>

<a ui-sref="form.step2" class="button">Volgende stap</a>