<ul>
	<form-row record="appform" field="naam" label="Voornaam" type="text" required="true"></form-row>
	<form-row record="appform" field="eMailadres" label="E-mailadres" type="email" required="true"></form-row>
</ul>

<button type="button" class="button" ng-click="checkStep(1)">Volgende stap</button>
