<ul>
	<li>
	    <div class="label"><label for="frm-angular-adres">adres</label></div>
	    <div class="field"><input type="text" name="fields[adres]" id="frm-angular-adres" ng-model="address"></div>
	</li>
	<li>
	    <div class="label"><label for="frm-angular-woonplaats">Woonplaats</label></div>
	    <div class="field"><input type="text" name="fields[woonplaats]" id="frm-angular-woonplaats" ng-model="city"></div>
	</li>
</ul>
<button class="button" ng-click="uploadPic(picFile)" type="submit" name="verzenden">Verzenden</button>