{#
	In app.js staat een functie: closeDatepickers
	Hierin is een object 'dtopen'
	Het field in deze directive moet daar in staan, bijv 'geboortedatum'

	Bij het gebruiken van deze directive moet dtopen="dtopen" als attribute meegestuurd worden
	  zie bijv templates/angular/aanvragen/record/gegevens.twig: veld geboortedatum

	Waar de datum wordt opgeslagen in de service moet het format van de datum omgezet worden naar yyyy-mm-dd
	  zie bijv: scripts/angular/leerlingen/leerlingenService.js bij editLeerling
#}
<div class="label">
	<label ng-if="label" ng-class="{ 'required' : required == 'true' }" for="frm-[[ nameprefix ]][[ field ]]">[[ label ]]</label>
	<em ng-if="sublabel">[[ sublabel ]]</em>
</div>
<div class="field" ng-class="{ 'field--invalid' : this[field][field].$dirty && this[field][field].$invalid, 'field--valid': this[field][field].$dirty && this[field][field].$valid }">
	<input ng-click="openDatepicker(field)" datepicker-popup="dd-MM-yyyy" is-open="dtopen[ field ]" type="text" name="[[ nameprefix ]][[ field ]]" id="frm-[[ nameprefix ]][[ field ]]" ng-model="record[ field ]" ng-required="required">
</div>