{#
	Documentation: https://github.com/danialfarid/ng-file-upload

	filetypes: 	image/*
				audio/*
				video/*
				application/pdf

	Full list: http://www.sitepoint.com/web-foundations/mime-types-complete-list/
#}
<div class="field" ng-switch="required" ng-class="{ 'field--invalid' : this[field][field].$dirty && this[field][field].$invalid, 'field--valid': this[field][field].$dirty && this[field][field].$valid }">
	<input ng-switch-when="true" type="[[ type ]]" ngf-multiple="[[ multiple ]]" name="[[ nameprefix ]][[ field ]]" id="frm-[[ nameprefix ]][[ field ]]" ngf-select ng-model="record[ field ]" accept="[[ filetypes || defaultFileTypes ]]" ngf-max-size="[[ maxfilesize || defaultFileSize ]]" required>
	<input ng-switch-default type="[[ type ]]" ngf-multiple="[[ multiple ]]" name="[[ nameprefix ]][[ field ]]" id="frm-[[ nameprefix ]][[ field ]]" ngf-select ng-model="record[ field ]" accept="[[ filetypes || defaultFileTypes ]]" ngf-max-size="[[ maxfilesize || defaultFileSize ]]">

	{# <img ng-show="formData.file.$valid" ngf-src="!picFile.$error && picFile" class="thumb"> #}
</div>
