<div class="label">
	<label ng-if="label" ng-class="{ 'required' : required == 'true' }" for="frm-[[ field ]]">[[ label ]]</label>
	<em ng-if="sublabel">[[ sublabel ]]</em>
</div>
<div class="field" ng-switch="required" ng-class="{ 'field--invalid' : this[field][field].$dirty && this[field][field].$invalid, 'field--valid': this[field][field].$dirty && this[field][field].$valid }">
	<label ng-switch-when="true" ng-repeat="(optionValue, optionLabel) in options"><input type="[[ type ]]" name="[[ nameprefix ]][[ field ]]" id="frm-[[ nameprefix ]][[ field ]]-[[ optionValue ]]" ng-model="record[ field ]" required value="[[ optionValue ]]"> [[ optionLabel ]]</label>
	<label ng-switch-default ng-repeat="(optionValue, optionLabel) in options"><input type="[[ type ]]" name="[[ nameprefix ]][[ field ]]" id="frm-[[ nameprefix ]][[ field ]]-[[ optionValue ]]" ng-model="record[ field ]" value="[[ optionValue ]]"> [[ optionLabel ]]</label>
</div>